body {
    font-family: 'Inter', sans-serif;
    background-color: #111827; /* bg-gray-900 */
}

.hero-bg {
    background: linear-gradient(180deg, #111827 0%, #1f2937 100%);
}

#plexus-canvas, #plexus-canvas-footer {
    filter: brightness(0.7);
}


.cta-button {
    transition: all 0.3s ease;
}

.cta-button:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 20px -5px rgba(59, 130, 246, 0.4);
}

.feature-card {
    transition: all 0.3s ease;
    border-color: #374151; /* border-gray-700 */
}

.feature-card:hover {
    transform: translateY(-5px);
    border-color: #3b82f6; /* border-blue-500 */
    box-shadow: 0 10px 20px -5px rgba(59, 130, 246, 0.1);
}

.plan-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.plan-card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2);
    border-color: #3b82f6;
}

/* Location Item Styling */
.location-item {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #1f2937; /* bg-gray-800 */
    border: 1px solid #374151; /* border-gray-700 */
}

.location-item:hover {
    transform: translateY(-4px);
    background-color: #374151; /* bg-gray-700 */
    border-color: #3b82f6; /* border-blue-500 */
}

/* Modal Styling */
#location-modal.active {
    display: flex;
}
#location-modal.active #location-modal-content {
    transform: scale(1);
    opacity: 1;
}

